/public/hot
/public/storage
/storage/*.key
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/node_modules
/vendor
.env

/public/js/adminVue.js
/public/js/publicVue.js
/public/js/authVue.js
/app/Http/Controllers/LoginControllerAPI.php
