/**************************************
CSS RESET
**************************************/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.7;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none  !important;
}

/*****************************************************
  GENERAL
*****************************************************/

.section-padding {
  min-height: calc(100vh - 353px);
  padding: 80px 0px;
}

h1 {
  font-size: 36px;
  color: #6a6a6a;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 15px;
  font-family: "Raleway",sans-serif;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  margin: 0 0 15px;
  color: #333;
  font-weight: 300;
  line-height: 30px;
}

.text {
  padding: 10px 40px 0 10px;
}

.left-highlight {
  border-left: 8px solid #EC0044;
  padding-left: 12px;
}

.btn {
  border: 0;
  padding: 0 10x;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.btn:hover,
.btn:focus {
  color: white;
}

.btn-red {
  background: #EC0044;
}

.btn-contrast {
  background: #2C3E50;
}

/*****************************************************
  Loader
*****************************************************/

.align-loader {
  width: 0%;
  margin: 0 auto;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #EC0044;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*****************************************************
  NAV
*****************************************************/

.menu-top {
  background: white;
}

.navbar-default {
  position: relative;
  border-bottom: inset;
  border-radius: 0;
  margin-bottom: 0;
  width: 100%;
  padding: 25px 0;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}

.navbar-default .navbar-nav .router-link-active {
  color: #fff;
  background-color: #EC0044;
}

.navbar-default .navbar-nav .router-link-active:focus,
.navbar-default .navbar-nav .router-link-active:hover {
  color: #fff;
  background-color: #EC0044;
}

.navbar-default .navbar-nav li > a {
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
}

.navbar-default .navbar-nav li > a:hover {
  color: white;
  background-color: #EC0044;
}

.navbar-default .navbar-nav li > a:focus {
  color: #777;
  background-color: transparent;
}

.navbar-default .navbar-brand {
  color: #777;
  font-family: righteous, cursive;
  font-size: 28px;
}

.dropdown-menu {
  padding: 0;
  margin: 0;
}

.nav > li > div.dropdown {
  position: relative;
  display: block;
  padding: 15px;
  line-height: 20px;
}

.nav > li > div.dropdown li > a {
  padding: 10px 20px;
}

.nav > li > div.dropdown .authDropdown {
  cursor: pointer;
  color: #777;
  font-weight: bold;
  font-size: 16px;
}

.signup,
.login {
  font-weight: bold;
  font-size: 17px;
}

.show {
  display: inline-block !important;
}

/*****************************************************
  RIGHT NAV
*****************************************************/

.container-nav {
  margin-top: 5em;
  background-color: #fbfbfb;
  padding: 10px 35px;
}

.container-nav .container-nav-title {
  padding: 15px 10px;
  border-bottom: 1px solid #999;
}

.container-nav .container-nav-list ul {
  padding: 15px 0;
}

.container-nav .container-nav-list a {
  font-size: 17px;
  color: #EF4758;
}

.container-nav .container-nav-list a:hover {
  color: #EC0044;
}

.container-nav .container-nav-list .router-link-active {
  font-weight: bold;
}

/*****************************************************
  BREADCRUMB
*****************************************************/

.breadcrumb {
  padding: 10px 0;
  margin-bottom: 20px;
  list-style: none;
  background-color: white;
}

.breadcrumb a {
  font-size: 17px;
  color: #EF4758;
}

.breadcrumb a:hover {
  color: #EC0044;
}

.breadcrumb > .active {
  font-size: 17px;
  color: #777;
}

/*****************************************************
  PAGINATION
*****************************************************/

.pagination .active a {
  color: #EC0044;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
}

.pagination .active a:hover {
  background-color: transparent;
  color: #EC0044;
  border: 0px;
}

.pagination .active a:focus {
  background-color: transparent;
  color: #EC0044;
  outline: none;
}

.pagination li a {
  border: 1px;
  margin-left: 0px;
  color: #707070;
  padding: 7px 2px;
  margin: 0px 20px;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
}

.pagination li a:hover {
  background-color: transparent;
  color: #4A90E2;
  padding-bottom: 2px;
  border-bottom: 1px solid;
}

.pagination li a:focus {
  outline: none;
  background-color: transparent;
  /*color:#707070;*/
}

.pagination li:first-child a,
.pagination li:last-child a {
  border: 2px solid #EC0044 !important;
  border-radius: 0;
  margin: 0px;
  padding: 6px 12px;
  border: 2px solid;
  font-size: 14px;
  color: #EC0044;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.pagination li:first-child a:hover,
.pagination li:last-child a:hover {
  text-decoration: none !important;
  color: white;
  background-color: #EC0044;
}

.pagination li:first-child a:focus,
.pagination li:last-child a:focus {
  outline: none;
}

/*****************************************************
  RSS
*****************************************************/

.rss_color {
  color: #EC0044;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.rss_color:hover {
  color: #2C3E50;
}

/*****************************************************
  HOME
*****************************************************/

#home {
  background: url(/img/cybersecuriy.jpg) no-repeat fixed;
  background-size: cover;
  min-height: 500px;
  position: relative;
}

#home .bg-color {
  min-height: 500px;
}

#home h1 {
  font-size: 2.2vw;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 15px 4em 15px 3.1em;
  padding: 20px 10px;
  font-weight: 900;
  text-transform: uppercase;
}

#home h3 {
  font-size: 1.7vw;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 15px 18em 15px 4em;
  padding: 20px 10px;
  font-weight: 700;
}

.banner-content {
  width: 100%;
  height: auto;
  position: absolute;
  top: 75%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#mission {
  background: url(/img/mission.jpg) no-repeat fixed;
  background-size: cover;
  min-height: 400px;
  position: relative;
}

#mission .bg-color {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 400px;
}

#mission .missionContent {
  margin-top: 10%;
}

#mission h1 {
  font-size: 4em;
  color: white;
}

#mission p {
  font-size: 21px;
  line-height: 32px;
  color: white;
}

#homeEvents .borderB {
  border-bottom: solid 2px #e8e8e8;
}

#homeEvents .homeEventsContainer {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#homeEvents .thumbnail {
  max-width: 50%;
  margin: 20px;
  border: none;
}

#homeEvents .thumbnail img {
  opacity: 1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
}

#homeEvents .thumbnail:hover img {
  opacity: 0.9;
}

#homeEvents .thumbnail p {
  margin: 0;
}

/*****************************************************
  ABOUT US
*****************************************************/

#aboutUs address {
  margin: 3em 2em 1em;
  font-size: 16px;
}

#aboutUs address h4 {
  line-height: 25px;
}

/*****************************************************
  NEWS
*****************************************************/

#news {
  margin-top: 4em;
}

#news .newsContent {
  margin-bottom: 15px;
  padding: 15px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

#news .newsContent h3 {
  font-weight: bold;
  line-height: 30px;
  color: #EC0044;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

#news .newsContent .newsBorderB {
  border-bottom: solid 1px #d0d0d0;
}

#news .newsContent:hover {
  background-color: #f5f5f5;
}

#news .newsContent:hover h3 {
  color: #2C3E50;
}

#news .borderB {
  border-bottom: solid 2px #e8e8e8;
}

#news .showMore {
  display: inline-block;
  margin: 15px;
  font-family: "Raleway",sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #EC0044;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

#news .showMore:hover {
  color: #2C3E50;
}

/*****************************************************
  LINKS AND DOCUMENTS
*****************************************************/

#linksAndDocuments .linksAndDocumentsList {
  margin: 30px 15px;
  padding: 10px 35px;
  list-style-type: disc;
}

#linksAndDocuments .linksAndDocumentsList li {
  line-height: 1.5em;
  font-size: 20px;
}

/*****************************************************
  GLOSSARY
*****************************************************/

#glossary {
  margin-top: 4em;
}

#glossary .card {
  background: white;
  overflow: hidden;
}

#glossary .card__content {
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}

#glossary .card__content p:last-child {
  margin-bottom: 0;
}

#glossary .card__title {
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.5em;
}

#glossary .card__title a {
  color: #777;
  text-decoration: none;
}

#glossary .card__title a:hover,
#glossary .card__title a:focus {
  color: #EC0044;
  text-decoration: none;
}

#glossary .glossary__nav {
  margin-bottom: 1em;
}

#glossary .glossary__nav__item.active a {
  color: white;
  background-color: #EC0044;
}

#glossary .glossary__nav__item a {
  width: 50px;
  font-size: 2em;
  color: #777;
  text-decoration: none;
  text-align: center;
  display: block;
}

#glossary .glossary__nav__item a:hover,
#glossary .glossary__nav__item a:focus {
  color: white;
  background-color: #EC0044;
}

#glossary .glossary__nav__item a.card__content {
  padding: 13px 10px;
}

#glossary .glossary__results__row {
  overflow: hidden;
  margin-bottom: 40px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}

#glossary .glossary__results__row:last-child {
  margin-bottom: 0;
}

#glossary .glossary__results__row.inactive {
  opacity: 0;
  height: 0;
  margin: 0;
  width: 100%;
}

#glossary .glossary__results__item {
  margin-bottom: 20px;
}

/*****************************************************
  FAQ
*****************************************************/

#faq {
  margin-top: 4em;
}

#faq .faqContent {
  margin: 0 auto;
}

#faq .faq-question {
  padding: 20px 0;
  border-bottom: 1px dotted #ccc;
}

#faq .panel-title {
  font-size: 20px;
  padding: 5px 10px 0 48px;
  display: block;
  cursor: pointer;
  color: #EC0044;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
}

#faq .panel-title:hover {
  color: #2C3E50;
}

#faq .panel-content {
  font-size: 15px;
  padding: 0px 14px;
  margin: 0 40px;
  height: 0;
  overflow: hidden;
  z-index: -1;
  opacity: 0;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
}

#faq .panel:checked ~ .panel-content {
  height: auto;
  opacity: 1;
  padding: 10px;
}

#faq .plus {
  position: absolute;
  margin-left: 20px;
  margin-top: 4px;
  z-index: 5;
  font-size: 35px;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: #EC0044;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}

#faq .panel {
  display: none;
}

#faq .panel:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#faqAuth,
#faqSend {
  margin-top: 5em;
}

#faqAuth h2,
#faqSend h2 {
  margin-bottom: 20px;
}

#faqAuth .faqRedirectBtn,
#faqSend .faqRedirectBtn {
  border: 0;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  background: #2C3E50;
}

#faqAuth .form-control,
#faqSend .form-control {
  margin-top: 20px;
  padding: 12px;
  font-size: 16px;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

#faqAuth .form-control:focus,
#faqSend .form-control:focus {
  border-color: #777;
}

#faqAuth .faqSendBtn,
#faqSend .faqSendBtn {
  border: 0;
  padding: 5px 10px;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  background: #2C3E50;
  float: right;
}

/*****************************************************
  ALERTS
*****************************************************/

#alerts {
  margin-top: 4em;
}

#alerts a {
  color: black;
  text-decoration: none;
  /* no underline */
}

#alerts .alertContent {
  margin-bottom: 30px;
  padding: 15px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

#alerts .alertContent h3 {
  margin: 10px 0;
  font-weight: bold;
  color: #EC0044;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

#alerts .alertContent:hover {
  background-color: #f5f5f5;
}

#alerts .alertContent:hover h3 {
  color: #2C3E50;
}

/*****************************************************
  NEWSLETTER
*****************************************************/

#newsletter {
  border-top: outset;
  min-height: 100%;
}

#newsletter .newsletterContentNotLogged .newsletter-input {
  width: 330px;
  outline: 0;
  margin: 0;
  padding: 10px 0 10px 10px;
  border: 1px solid #777;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}

#newsletter .newsletterContentNotLogged .newsletter-input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}

#newsletter .newsletterContentNotLogged .newsletter-input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}

#newsletter .newsletterContentNotLogged .newsletter-input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}

#newsletter .newsletterContentNotLogged .newsletter-input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}

#newsletter .newsletterContentNotLogged .newsletter-input:hover,
#newsletter .newsletterContentNotLogged .newsletter-input:focus {
  padding-left: 22px;
  color: #333;
}

#newsletter .newsletterContentNotLogged .newsletter-input:hover::-webkit-input-placeholder,
#newsletter .newsletterContentNotLogged .newsletter-input:focus::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #555;
}

#newsletter .newsletterContentNotLogged .newsletter-input:hover:-moz-placeholder,
#newsletter .newsletterContentNotLogged .newsletter-input:focus:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #555;
}

#newsletter .newsletterContentNotLogged .newsletter-input:hover::-moz-placeholder,
#newsletter .newsletterContentNotLogged .newsletter-input:focus::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #555;
}

#newsletter .newsletterContentNotLogged .newsletter-input:hover:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #555;
}

#newsletter .newsletterContentNotLogged .newsletter-input:focus:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #555;
}

#newsletter .newsletterContentNotLogged .newsletter-send {
  border: 0;
  margin: 0 0 0 24px;
  padding: 0 26px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 54px;
  text-transform: uppercase;
  color: white;
  background: #2C3E50;
}

#newsletter .newsletterContentNotLogged span,
#newsletter .newsletterContentLogged span {
  font-size: 16px;
}

#newsletter .newsletterContentNotLogged .newsletter-sendLogged,
#newsletter .newsletterContentLogged .newsletter-sendLogged {
  border: 0;
  margin: 10px;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  background: #2C3E50;
}

/*****************************************************
  EVENTS
*****************************************************/

#events {
  margin: 0 1em;
  margin-top: 4em;
}

#events #eventTable {
  font-family: 'Montserrat', sans-serif;
}

#events #eventTable thead {
  background: #f5f5f5;
  text-transform: uppercase;
}

#events #eventTable thead th {
  font-weight: inherit;
}

#events #eventTable tbody td {
  vertical-align: middle;
  font-size: large;
  line-height: 2.5;
}

#events .card-body {
  padding: 20px;
}

#events .card-body h2 {
  margin: 15px 0;
  font-size: 3em;
}

#events .card-body h2 small {
  font-size: 16px;
}

#events .card-body .imgEvent {
  margin: 20px 0;
}

#events .card-body .imgEvent img {
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

#events .card-body .infoEvent {
  padding: 15px;
}

#events .card-body .infoEvent p {
  margin: 5px 0;
  font-size: 18px;
}

/*****************************************************
  USER SETTINGS
*****************************************************/

#userSettings h3 {
  margin: 15px 0;
}

#userSettings .form-control {
  padding: 12px;
  font-size: 16px;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

#userSettings .form-control:focus {
  border-color: #777;
}

#userSettings .modal-header .close {
  margin-top: -22px;
}

/*****************************************************
  CONTACT
*****************************************************/

#contact {
  background-color: #EC0044;
  min-height: 100%;
}

#contact .footer-sec p {
  color: white;
  font-size: 18px;
  padding: 15px 0;
}

#contact .footer-nav-list,
#contact .footer-social-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#contact .footer-nav-list li {
  padding: 0 15px;
}

#contact .footer-nav-list li a {
  font-size: 15px;
  color: white;
}

#contact .footer-nav-list li a:hover {
  border-bottom: 2px solid white;
}

#contact .footer-social-list li {
  padding: 5px;
}

#contact .footer-social-list li a {
  font-size: 2.3em;
  color: white;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}

#contact .footer-social-list li a:hover {
  color: #2C3E50;
}

/*****************************************************
*****************************************************/

@media (min-width: 200px) and (max-width: 450px) {
  #home h1 {
    font-size: 39px;
  }

  #home p {
    color: white;
    margin: 0 0 30px;
  }

  .banner-content {
    top: 60%;
  }

  h1 {
    font-size: 32px;
  }
}

@media (min-width: 451px) and (max-width: 768px) {
  .container-nav {
    margin-top: 20px;
  }
}

