/**************************************
CSS RESET
**************************************/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.7;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none  !important;
}

/*****************************************************
  GENERAL
*****************************************************/

.section-padding {
  padding: 80px 0px;
}

h1 {
  font-size: 36px;
  color: #6a6a6a;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 15px;
  font-family: "Raleway",sans-serif;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  margin: 0 0 15px;
  color: #333;
  font-weight: 300;
  line-height: 30px;
}

.text {
  padding: 10px 40px 0 10px;
}

.left-highlight {
  border-left: 8px solid #EC0044;
  padding-left: 12px;
}

/*****************************************************
  NAV
*****************************************************/

.menu-top {
  background: #fff;
}

.navbar-default {
  position: relative;
  border-bottom: inset;
  border-radius: 0;
  margin-bottom: 0;
  width: 100%;
  padding: 25px 0;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}

.navbar-default .navbar-nav li > a {
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
}

.navbar-default .navbar-nav li > a:hover {
  color: #fff;
  background-color: #EC0044;
}

.navbar-default .navbar-nav li > a:focus {
  color: #777;
  background-color: transparent;
}

.navbar-default .navbar-brand {
  color: #777;
  font-family: 'Righteous', cursive;
  font-size: 28px;
}

.dropdown-menu {
  padding: 0;
  margin: 0;
}

.nav > li > div.dropdown {
  position: relative;
  display: block;
  padding: 15px;
  line-height: 20px;
}

.nav > li > div.dropdown li > a {
  padding: 10px 20px;
}

.nav > li > div.dropdown .authDropdown {
  cursor: pointer;
  color: #777;
  font-weight: bold;
  font-size: 16px;
}

.signup,
.login {
  font-weight: bold;
}

.show {
  display: inline-block !important;
}

/*****************************************************
  RIGHT NAV
*****************************************************/

.container-nav {
  margin-top: 5em;
  background-color: #fbfbfb;
  padding: 10px 35px;
}

.container-nav .container-nav-title {
  padding: 15px 10px;
  border-bottom: 1px solid #999;
}

.container-nav .container-nav-list ul {
  padding: 15px 0;
}

.container-nav .container-nav-list a {
  font-size: 17px;
  color: #EF4758;
}

.container-nav .container-nav-list a:hover {
  color: #EC0044;
}

/*****************************************************
  ROUTER LINK ACTIVE
*****************************************************/

.router-link-active {
  font-weight: bold;
}

/*****************************************************
  BREADCRUMB
*****************************************************/

.breadcrumb {
  padding: 10px 0;
  margin-bottom: 20px;
  list-style: none;
  background-color: white;
}

.breadcrumb a {
  font-size: 17px;
  color: #EF4758;
}

.breadcrumb a:hover {
  color: #EC0044;
}

.breadcrumb > .active {
  font-size: 17px;
  color: #777;
}

/*****************************************************
  PAGINATION
*****************************************************/

.pagination .active a {
  color: #EC0044;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
}

.pagination .active a:hover {
  background-color: transparent;
  color: #EC0044;
  border: 0px;
}

.pagination .active a:focus {
  background-color: transparent;
  color: #EC0044;
  outline: none;
}

.pagination li a {
  border: 1px;
  margin-left: 0px;
  color: #707070;
  padding: 7px 2px;
  margin: 0px 20px;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
}

.pagination li a:hover {
  background-color: transparent;
  color: #4A90E2;
  padding-bottom: 2px;
  border-bottom: 1px solid;
}

.pagination li a:focus {
  outline: none;
  background-color: transparent;
  /*color:#707070;*/
}

.pagination li:first-child a,
.pagination li:last-child a {
  border: 2px solid #EC0044 !important;
  border-radius: 0;
  margin: 0px;
  padding: 6px 12px;
  border: 2px solid;
  font-size: 14px;
  color: #EC0044;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.pagination li:first-child a:hover,
.pagination li:last-child a:hover {
  text-decoration: none !important;
  color: #fff;
  background-color: #EC0044;
}

.pagination li:first-child a:focus,
.pagination li:last-child a:focus {
  outline: none;
}

/*****************************************************
  RSS
*****************************************************/

.rss_color {
  color: #EC0044;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.rss_color:hover {
  color: #2C3E50;
}

/*****************************************************
  HOME
*****************************************************/

#home {
  background: url(/img/cybersecuriy.jpg) no-repeat fixed;
  background-size: cover;
  min-height: 500px;
  position: relative;
}

#home h1 {
  font-size: 2.2vw;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 15px 4em 15px 3.1em;
  padding: 20px 10px;
  font-weight: 900;
  text-transform: uppercase;
}

#home h3 {
  font-size: 1.7vw;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 15px 18em 15px 4em;
  padding: 20px 10px;
  font-weight: 700;
}

#home p {
  color: #fff;
  margin: 0 0 40px;
}

#home .btn {
  margin: 0 8px;
}

.bg-color {
  min-height: 500px;
}

.banner-content {
  width: 100%;
  height: auto;
  position: absolute;
  top: 75%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.btn {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  width: 225px;
  line-height: 45px;
  padding: 0 10px;
  display: inline-block;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
}

.btn.btn-primary {
  border: 1px solid #EC0044;
  background: #EC0044;
  color: #fff;
}

/*****************************************************
  NEWS
*****************************************************/

#news {
  margin-top: 4em;
}

#news .newsContent {
  margin-bottom: 15px;
  padding: 15px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

#news .newsContent h3 {
  font-weight: bold;
  line-height: 30px;
  color: #EC0044;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

#news .newsContent .newsBorderB {
  border-bottom: solid 1px #d0d0d0;
}

#news .newsContent:hover {
  background-color: #f5f5f5;
}

#news .newsContent:hover h3 {
  color: #2C3E50;
}

#news .borderB {
  border-bottom: solid 2px #e8e8e8;
}

#news .showMore {
  display: inline-block;
  margin: 15px;
  font-family: "Raleway",sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #EC0044;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

#news .showMore:hover {
  color: #2C3E50;
}

/*****************************************************
  LINKS AND DOCUMENTS
*****************************************************/

#linksAndDocuments .linksAndDocumentsList {
  margin: 30px 15px;
  padding: 10px 35px;
  list-style-type: disc;
}

#linksAndDocuments .linksAndDocumentsList li {
  line-height: 1.5em;
  font-size: 20px;
}

/*****************************************************
  GLOSSARY
*****************************************************/

.site-content {
  overflow: hidden;
}

.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.form-control {
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 13px 10px;
  height: 50px;
  background: #FFF;
  color: #3a404d;
  border-radius: 5px;
  border-color: #DFE2E8;
}

.form-control:focus,
.form-control.input-focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-color: #2b98eb;
}

.card {
  background: #FFF;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  overflow: hidden;
}

.card__content {
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}

.card__content p:last-child {
  margin-bottom: 0;
}

.card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.card__title a {
  color: #3a404d;
  text-decoration: none;
}

.card__title a:hover,
.card__title a:focus {
  color: #2b98eb;
  text-decoration: none;
}

.glossary__nav__item.active a {
  color: #FFF;
  background-color: #2b98eb;
}

.glossary__nav__item a {
  width: 50px;
  font-size: 16px;
  color: #3a404d;
  text-decoration: none;
  text-align: center;
  display: block;
}

.glossary__nav__item a:hover,
.glossary__nav__item a:focus {
  color: #FFF;
  background-color: #2b98eb;
}

.glossary__nav__item a.card__content {
  padding: 13px 10px;
  margin-bottom: 5px;
  border-radius: 3px;
}

.glossary__search__form {
  max-width: 500px;
  position: relative;
}

.glossary__search__form:before {
  content: "\F002";
  color: #aaa;
  font-family: "FontAwesome";
  position: absolute;
  left: 15px;
  top: 12px;
  font-size: 18px;
}

.glossary__search__form .form-control {
  padding-left: 40px;
}

.glossary__results__row {
  overflow: hidden;
  margin-bottom: 40px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.glossary__results__row:last-child {
  margin-bottom: 0;
}

.glossary__results__row.inactive {
  opacity: 0;
  height: 0;
  margin: 0;
  width: 100%;
}

.glossary__results__term {
  color: #2b98eb;
}

.glossary__results__item {
  margin-bottom: 20px;
}

.glossary__results__item a {
  display: block;
  text-decoration: none;
  color: #3a404d;
}

.glossary__results__item a.card {
  border: 2px solid transparent;
}

.glossary__results__item a:hover {
  border-color: #2b98eb;
}

.glossary__results__item a:hover .card__title {
  color: #2b98eb;
}

.title-style--three {
  margin-bottom: 15px;
  position: relative;
  padding-top: 20px;
  padding-bottom: 10px;
}

.title-style--three:after {
  content: "";
  background: #2b98eb;
  width: 60px;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 30px;
}

/*****************************************************
  FAQ
*****************************************************/

/*****************************************************
  ALERTS
*****************************************************/

#alerts {
  margin-top: 4em;
}

#alerts a {
  color: black;
  text-decoration: none;
  /* no underline */
}

#alerts .alertContent {
  margin-bottom: 30px;
  padding: 15px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

#alerts .alertContent h3 {
  margin: 10px 0;
  font-weight: bold;
  color: #EC0044;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

#alerts .alertContent:hover {
  background-color: #f5f5f5;
}

#alerts .alertContent:hover h3 {
  color: #2C3E50;
}

/*****************************************************
  NEWSLETTER
*****************************************************/

#newsletter {
  border-top: outset;
}

#newsletter .newsletterContentNotLogged .newsletter-input {
  width: 330px;
  outline: 0;
  margin: 0;
  padding: 15px 0 15px 10px;
  border: 1px solid transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}

#newsletter .newsletterContentNotLogged .newsletter-input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}

#newsletter .newsletterContentNotLogged .newsletter-input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}

#newsletter .newsletterContentNotLogged .newsletter-input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}

#newsletter .newsletterContentNotLogged .newsletter-input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}

#newsletter .newsletterContentNotLogged .newsletter-input:hover,
#newsletter .newsletterContentNotLogged .newsletter-input:focus {
  padding-left: 22px;
  border: 1px solid #ccc;
  color: #333;
}

#newsletter .newsletterContentNotLogged .newsletter-input:hover::-webkit-input-placeholder,
#newsletter .newsletterContentNotLogged .newsletter-input:focus::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #555;
}

#newsletter .newsletterContentNotLogged .newsletter-input:hover:-moz-placeholder,
#newsletter .newsletterContentNotLogged .newsletter-input:focus:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #555;
}

#newsletter .newsletterContentNotLogged .newsletter-input:hover::-moz-placeholder,
#newsletter .newsletterContentNotLogged .newsletter-input:focus::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #555;
}

#newsletter .newsletterContentNotLogged .newsletter-input:hover:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #555;
}

#newsletter .newsletterContentNotLogged .newsletter-input:focus {
  border-color: #999;
}

#newsletter .newsletterContentNotLogged .newsletter-input:focus:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #555;
}

#newsletter .newsletterContentNotLogged .newsletter-send {
  border: 0;
  margin: 0 0 0 24px;
  padding: 0 26px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 64px;
  text-transform: uppercase;
  color: white;
  background: #2C3E50;
  opacity: 0;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}

#newsletter .newsletterContentNotLogged .newsletter-input:focus + .newsletter-send,
#newsletter .newsletterContentNotLogged .newsletter-input:hover + .newsletter-send,
#newsletter .newsletterContentNotLogged .newsletter-input:not(:empty) + .newsletter-send {
  opacity: 1;
}

#newsletter .newsletterContentLogged span {
  font-size: 16px;
}

#newsletter .newsletterContentLogged .newsletter-sendLogged {
  border: 0;
  margin: 10px;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  background: #2C3E50;
}

/*****************************************************
  CONTACT
*****************************************************/

#contact {
  background-color: #EC0044;
}

#contact .footer-sec p {
  color: white;
  font-size: 18px;
  padding: 15px 0;
}

#contact .footer-nav-list,
#contact .footer-social-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#contact .footer-nav-list li {
  padding: 0 15px;
}

#contact .footer-nav-list li a {
  font-size: 15px;
  color: white;
}

#contact .footer-nav-list li a:hover {
  border-bottom: 2px solid white;
}

#contact .footer-social-list li {
  padding: 5px;
}

#contact .footer-social-list li a {
  font-size: 2.3em;
  color: white;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}

#contact .footer-social-list li a:hover {
  color: #2C3E50;
}

/*****************************************************
*****************************************************/

@media (min-width: 200px) and (max-width: 450px) {
  #home h1 {
    font-size: 39px;
  }

  #home p {
    color: #fff;
    margin: 0 0 30px;
  }

  .banner-content {
    top: 60%;
  }

  h1 {
    font-size: 32px;
  }
}

@media (min-width: 451px) and (max-width: 768px) {
  .container-nav {
    margin-top: 20px;
  }
}

