@import '_variables';
@import '_mixins';

/**************************************
CSS RESET
**************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  //font-size: 100%;
  //font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.7;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: '';
    content: none;
  }
}

q {
  &:before, &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none  !important;
}

.section-padding {
  padding: 80px 0px;
}

p {
  font-size: 15px;
  margin: 0 0 15px;
  color: #333;
  font-weight: 300;
  line-height: 24px;
}

.bullet i {
  color: #2C3E50;
}



/*****************************************************
*****************************************************/

.menu-top {
  background: #fff;
}

.navbar-default {
  position: relative;
  border-bottom: inset;
  border-radius: 0;
  margin-bottom: 0;
  width: 100%;
  padding: 25px 0;
  @include transition(all , .2s, ease-in-out);
  .navbar-nav {
    li > a {
      @include transition(all , .1s, ease);
      &:hover {
        color: #fff;
        background-color: $ipl-red;
      }
    }
  }
  .navbar-brand {
    color: #777;
    font-family: 'Righteous', cursive;
    font-size: 28px;
  }
}

/*.router-link-exact-active {
  color: white;
  background-color: $ipl-red;
}*/

.dropdown-menu {
  padding: 0;
  margin: 0;
}

.nav > li > div.dropdown {
  position: relative;
  display: block;
  padding: 15px;
  line-height: 20px;
  li > a {
    padding: 10px 20px;
  }

  .authDropdown {
    cursor: pointer;
    color: #777;
    font-weight: bold;
    font-size: 16px;
  }
}

.signup, .login {
  font-weight: bold;
}

.show {
  display: inline-block !important;
}

.container-nav {
  margin-top: 5em;
  background-color: $container-nav-bg;
  padding: 10px 35px;
  .container-nav-title {
    padding: 15px;
    border-bottom: 1px solid #999;
  }
  .container-nav-list {
    ul {
      padding: 15px 0;
    }
    a {
      font-size: 17px;
      color: $ipl-link;
      &:hover {
        color: $ipl-red;
      }
    }
  }
}

/*****************************************************
*****************************************************/

.breadcrumb {
  padding: 10px 0;
  margin-bottom: 20px;
  list-style: none;
  background-color: white;
  a {
      font-size: 17px;
      color: $ipl-link;
      &:hover {
        color: $ipl-red;
      }
  }
  > .active {
    font-size: 17px;
    color: #777;
  }
}

/*****************************************************
*****************************************************/

#home {
  background: url(/img/cybersecuriy.jpg) no-repeat fixed;
  background-size: cover;
  min-height: 500px;
  position: relative;
}

.bg-color {
  background-color: rgba(0, 0, 0, 0);
  min-height: 500px;
}

.banner-content {
  width: 100%;
  height: auto;
  position: absolute;
  top: 75%;
  left: 0;
  @include transform(translateY(-50%));
}

#home h1 {
  font-size: 2.2vw;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 15px 4em 15px 3.1em;
  padding: 20px 10px;
  font-weight: 900;
  text-transform: uppercase;
}

#home h3 {
  font-size: 1.7vw;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 15px 18em 15px 4em;
  padding: 20px 10px;
  font-weight: 700;
}


.line-block {
  width: 100%;
  float: left;
  height: auto;
  text-align: center;
  line-height: 7px;
  margin: 0 0 30px;
  span {
    width: auto;
    height: auto;
    display: inline-block;
    position: relative;
    &::before {
      width: 90px;
      height: 2px;
      background: $ipl-red;
      left: -100px;
      top: 6px;
      content: '';
      position: absolute;
    }
    &::after {
      width: 90px;
      height: 2px;
      background: $ipl-red;
      right: -100px;
      top: 6px;
      content: '';
      position: absolute;
    }
  }
}

#home {
  p {
    color: #fff;
    margin: 0 0 40px;
  }
  .btn {
    margin: 0 8px;
  }
}

.btn {
  &.btn-primary {
    border: 1px solid $ipl-red;
    background: $ipl-red;
    color: #fff;
  }
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  width: 225px;
  line-height: 45px;
  padding: 0 10px;
  display: inline-block;
  @include border-radius(25px);
  @include transition(all , .35s, ease-in-out);
}

/*****************************************************
*****************************************************/

#news {
  
  .borderB {
    border-bottom: solid 2px #e8e8e8;
  }

  .newsContent {
    padding: 15px;
    @include transition(all , .3s, ease);
    h3 {
      font-weight: bold;
      line-height: 30px;
      color: $ipl-red;
      @include transition(all , .3s, ease);
    }
    .newsBorderB {
      border-bottom: solid 1px #d0d0d0;
    }
    &:hover {
      background-color: $ipl-light-grey;
    }
    &:hover h3 {
      color: $ipl-contrast;
    }
  }

  .showMore {
    display: inline-block;
    margin: 15px;
    font-family: "Raleway",sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: $ipl-red;
    @include transition(all , .5s, ease);
    &:hover {
      color: $ipl-contrast;
    }
  }
}

/*****************************************************
*****************************************************/

h1 {
  font-size: 36px;
  color: #6a6a6a;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 15px;
  font-family: "Raleway",sans-serif;
  text-transform: uppercase;
}

.left-highlight {
  border-left: 8px solid #EC0044;
  padding-left: 12px;
}

.marb-20 {
  margin-bottom: 20px;
}

.text {
  padding: 10px;
}

p {
  font-size: 16px;
  margin: 0 0 15px;
  color: #333;
  font-weight: 300;
  line-height: 30px;
}

.fea-item i {
  font-size: 55px;
  padding: 30px 0;
  color: $ipl-red;
}

.features-item__title {
  display: block;
  font-size: 16px;
  color: #333;
  padding: 30px 0;
  text-transform: uppercase;
  font-weight: bold;
}

.filimg {
  margin-bottom: 30px;
}

.fil-btn {
  margin-bottom: 30px;
  .active {
    background-color: $ipl-red;
  }
}

.filter {
  background-color: #2C3E50;
  color: #fff;
  padding: 15px 30px;
  border-right: 1px solid #fff;
  display: inline-block;
  position: relative;
}

.wrk-title {
  cursor: pointer;
}

#Container .mix {
  display: none;
}

#portfolio {
  background: rgba(158, 135, 135, 0.05) none repeat scroll 0% 0%;
}

/*****************************************************
*****************************************************/

.pm-staff-profile-image {
  width: 150px;
  height: 150px;
  background-color: #C6C6C6;
  @include border-radius(50%);
  display: inline-block;
}

.pm-staff-profile-name {
  font-size: 24px;
  text-transform: capitalize;
  color: #2b5d83;
  margin: 5px 10px;
}

/*****************************************************
*****************************************************/

#contact {
  background-color: $ipl-red;
  .footer-sec {
    p {
      color: white;
      font-size: 18px;
      padding: 15px 0;
    }
  }

  .footer-nav-list, .footer-social-list {
    display: inline-flex;
  }

  .footer-nav-list {
    li {
      padding: 0 15px;
      a {
        font-size: 15px;
        color: white;
        &:hover {
          border-bottom: 2px solid white;
        }
      }
    }
  }
  .footer-social-list {
    li {
      padding: 5px;
      a {
        font-size: 2.3em;
        color: white;
        @include transition(all , .5s, ease-in-out);
        &:hover {
          color: $ipl-contrast;
        }
      }
    }
  }
}

/*****************************************************
*****************************************************/
@media (min-width: 200px) and (max-width: 450px) {
  #home {
    h1 {
      font-size: 39px;
    }
    p {
      color: #fff;
      margin: 0 0 30px;
    }
  }
  .bottom-arrow {
    margin: 27px 0 0;
  }
  .banner-content {
    top: 60%;
  }
  .filter {
    padding: 10px 20px;
    margin-bottom: 5px;
  }
  h1 {
    font-size: 32px;
  }
  .single_teacher, .pm-staff-profile-container {
    margin-bottom: 50px;
  }
}

@media (min-width: 451px) and (max-width: 768px) {
  .single_teacher {
    margin-bottom: 50px;
  }
  .container-nav {
    margin-top: 20px;
  }
}

.mt-5 {
  margin-top: 5%;
}