@import '_variables';
@import '_mixins';

/**************************************
CSS RESET
**************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.7;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: '';
    content: none;
  }
}

q {
  &:before, &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none  !important;
}

/*****************************************************
  GENERAL
*****************************************************/

.section-padding {
  min-height: calc(100vh - 353px);
  padding: 80px 0px;
}

h1 {
  font-size: 36px;
  color: #6a6a6a;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 15px;
  font-family: "Raleway",sans-serif;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  margin: 0 0 15px;
  color: #333;
  font-weight: 300;
  line-height: 30px;
}

.text {
  padding: 10px 40px 0 10px;
}

.left-highlight {
  border-left: 8px solid #EC0044;
  padding-left: 12px;
}

.btn {
  border: 0;
  padding: 0 10x;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  @include border-radius(0);
  &:hover, &:focus {
    color:white;
  }
}
.btn-red {
  background: $ipl-red;
}
.btn-contrast {
  background: $ipl-contrast;
}

/*****************************************************
  Loader
*****************************************************/
.align-loader {
  width: 0%;
  margin: 0 auto;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid $ipl-red;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*****************************************************
  NAV
*****************************************************/

.menu-top {
  background: white;
}

.navbar-default {
  position: relative;
  border-bottom: inset;
  border-radius: 0;
  margin-bottom: 0;
  width: 100%;
  padding: 25px 0;
  @include transition(all , .2s, ease-in-out);
  .navbar-nav {
    .router-link-active {
      color: #fff;
      background-color: $ipl-red;
      &:focus, &:hover {
        color: #fff;
        background-color: $ipl-red;
      }
    }
    li > a {
      @include transition(all , .1s, ease);
      &:hover {
        color: white;
        background-color: $ipl-red;
      }
      &:focus {
        color: $ipl-grey;
        background-color: transparent;
      }
    }
  }
  .navbar-brand {
    color: $ipl-grey;
    font-family: righteous, cursive;
    font-size: 28px;
  }
}

.dropdown-menu {
  padding: 0;
  margin: 0;
}

.nav > li > div.dropdown {
  position: relative;
  display: block;
  padding: 15px;
  line-height: 20px;
  li > a {
    padding: 10px 20px;
  }

  .authDropdown {
    cursor: pointer;
    color: $ipl-grey;
    font-weight: bold;
    font-size: 16px;
  }
}

.signup, .login {
  font-weight: bold;
  font-size: 17px;
}

.show {
  display: inline-block !important;
}

/*****************************************************
  RIGHT NAV
*****************************************************/

.container-nav {
  margin-top: 5em;
  background-color: $container-nav-bg;
  padding: 10px 35px;
  .container-nav-title {
    padding: 15px 10px;;
    border-bottom: 1px solid #999;
  }
  .container-nav-list {
    ul {
      padding: 15px 0;
    }
    a {
      font-size: 17px;
      color: $ipl-link;
      &:hover {
        color: $ipl-red;
      }
    }
    .router-link-active {
      font-weight: bold;
    }
  }
}

/*****************************************************
  BREADCRUMB
*****************************************************/

.breadcrumb {
  padding: 10px 0;
  margin-bottom: 20px;
  list-style: none;
  background-color: white;
  a {
      font-size: 17px;
      color: $ipl-link;
      &:hover {
        color: $ipl-red;
      }
  }
  > .active {
    font-size: 17px;
    color: $ipl-grey;
  }
}

/*****************************************************
  PAGINATION
*****************************************************/

.pagination{
  .active a{
    color: $ipl-red;
    background-color: transparent;
    font-weight:600;
    @include transition(all , .1s, ease);
    &:hover{
      background-color: transparent;
      color: $ipl-red;
      border:0px;
    }
    &:focus{
      background-color:transparent;
      color: $ipl-red;
      outline:none;
    }
  }
  li a{
    border:1px;
    margin-left:0px;
    color:#707070;
    padding:7px 2px;
    margin:0px 20px;
    @include transition(all , .1s, ease);
    &:hover{
      background-color:transparent;
      color:#4A90E2;
      padding-bottom: 2px;
      border-bottom: 1px solid;
      //padding: 1px;
      //margin: 5px 25px;
    }
    &:focus{
      outline:none;
      background-color: transparent;
      /*color:#707070;*/
    }
  }
  li:first-child a,li:last-child a{
    border:2px solid $ipl-red !important;
    border-radius: 0;
    margin:0px;
    padding:6px 12px;
    border: 2px solid;
    font-size:14px;
    color:$ipl-red;
    @include transition(all , .3s, ease);
    &:hover{ 
      text-decoration:none !important;
      color: white;
      background-color: $ipl-red;
    }
    &:focus{
      outline:none;
    }
  }
}

/*****************************************************
  RSS
*****************************************************/

.rss_color {
  color: $ipl-red;
  @include transition(all , .3s, ease);
  &:hover{
    color: $ipl-contrast;
  }
}

/*****************************************************
  HOME
*****************************************************/

#home {
  background: url(/img/cybersecuriy.jpg) no-repeat fixed;
  background-size: cover;
  min-height: 500px;
  position: relative;
  .bg-color {
    min-height: 500px;
  }
  h1 {
    font-size: 2.2vw;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 15px 4em 15px 3.1em;
    padding: 20px 10px;
    font-weight: 900;
    text-transform: uppercase;
  }
  h3 {
    font-size: 1.7vw;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 15px 18em 15px 4em;
    padding: 20px 10px;
    font-weight: 700;
  }
}

.banner-content {
  width: 100%;
  height: auto;
  position: absolute;
  top: 75%;
  left: 0;
  @include transform(translateY(-50%));
}

#mission {
  background: url(/img/mission.jpg) no-repeat fixed;
  background-size: cover;
  min-height: 400px;
  position: relative;

  .bg-color {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 400px;
  }

  .missionContent {
    margin-top: 10%;
  }
  h1{
    font-size: 4em;
    color: white;
  }
  p {
    font-size: 21px;
    line-height: 32px;
    color: white;
  }
}

#homeEvents {
  .borderB {
    border-bottom: solid 2px #e8e8e8;
  }
  .homeEventsContainer {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }  
  .thumbnail {
    max-width: 50%;
    margin: 20px;
    border: none;
    img {
      opacity: 1;
      @include border-radius(5px);
      @include transition(opacity, 0.3s, ease-in-out);
    }   
    &:hover {
      img {
        opacity: 0.9;
      }
    }
    p {
      margin: 0;
    }
  }
}

/*****************************************************
  ABOUT US
*****************************************************/

#aboutUs {
  address {
    margin: 3em 2em 1em;
    font-size: 16px;
    h4 {
      line-height: 25px;
    }
  }
}

/*****************************************************
  NEWS
*****************************************************/

#news {
  margin-top: 4em;
  .newsContent {
    margin-bottom: 15px;
    padding: 15px;
    @include transition(all , .3s, ease);
    h3 {
      font-weight: bold;
      line-height: 30px;
      color: $ipl-red;
      @include transition(all , .3s, ease);
    }
    .newsBorderB {
      border-bottom: solid 1px #d0d0d0;
    }
    &:hover {
      background-color: $ipl-light-grey;
    }
    &:hover h3 {
      color: $ipl-contrast;
    }
  }
  .borderB {
    border-bottom: solid 2px #e8e8e8;
  }
  .showMore {
    display: inline-block;
    margin: 15px;
    font-family: "Raleway",sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: $ipl-red;
    @include transition(all , .5s, ease);
    &:hover {
      color: $ipl-contrast;
    }
  }
}

/*****************************************************
  LINKS AND DOCUMENTS
*****************************************************/

#linksAndDocuments {
  .linksAndDocumentsList {
    margin: 30px 15px;
    padding: 10px 35px;
    list-style-type: disc;
    li {
      line-height: 1.5em;
      font-size: 20px;
    }
  }
}

/*****************************************************
  GLOSSARY
*****************************************************/

#glossary {
  margin-top: 4em;
  .card {
    background: white;
    overflow: hidden;

    &__content {
      padding: 15px;
      font-size: 14px;
      line-height: 22px;

      p:last-child {
        margin-bottom: 0;
      }
    }

    &__title {
      margin-bottom: 10px;
      font-weight: 500;
      line-height: 1.5em;

      a {
        color: $ipl-grey;
        text-decoration: none;
        &:hover, &:focus {
          color: $ipl-red;
          text-decoration: none;
        }
      }
    }
  }

  .glossary {
    &__nav {
      margin-bottom: 1em;
      &__item {
        &.active {
          a {
            color: white;
            background-color: $ipl-red;
          }
        }

        a {
          width: 50px;
          font-size: 2em;
          color: $ipl-grey;
          text-decoration: none;
          text-align: center;
          display: block;

          &:hover, &:focus {
            color: white;
            background-color: $ipl-red;
          }

          &.card__content {
            padding: 13px 10px;
          }
        }
      }
    } // END Glossary nav

    &__results {
      &__row {
        overflow: hidden;
        margin-bottom: 40px;
        @include transition(all , .4s, ease-in-out);

        &:last-child {
          margin-bottom: 0;
        }
        &.inactive {
          opacity: 0;
          height: 0;
          margin: 0;
          width: 100%;
          // display: none;
        }
      }
      &__item {
        margin-bottom: 20px;
      }
    } // END Glossary Results
  } // END Glossary styles
}

/*****************************************************
  FAQ
*****************************************************/

#faq {
  margin-top: 4em;
  .faqContent {
    margin: 0 auto;
  }

  .faq-question {
    padding: 20px 0;
    border-bottom: 1px dotted #ccc;
  }

  .panel-title {
    font-size: 20px;
    padding: 5px 10px 0 48px;
    display: block;
    cursor: pointer;
    color: $ipl-red;
    @include transition(all , .4s, ease);
    &:hover {
      color: $ipl-contrast;
    }
  }

  .panel-content {
    font-size: 15px;
    padding: 0px 14px;
    margin: 0 40px;
    height: 0;
    overflow: hidden;
    z-index: -1;
    opacity: 0;
    @include transition(all , .4s, ease);
  }

  .panel:checked ~ .panel-content {
    height: auto;
    opacity: 1;
    padding: 10px;
  }

  .plus {
    position: absolute;
    margin-left: 20px;
    margin-top: 4px;
    z-index: 5;
    font-size: 35px;
    line-height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: $ipl-red;
    @include transition(all , .2s, ease);
  }

  .panel {
    &:checked ~ .plus {
      @include transform(rotate(45deg));
    }
    display: none;
  }
}

#faqAuth, #faqSend {
  margin-top: 5em;

  h2 {
    margin-bottom: 20px;
  }

  .faqRedirectBtn {
    border: 0;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    background: $ipl-contrast;
  }
  
  .form-control {
    margin-top: 20px;
    padding: 12px;
    font-size: 16px;
    @include box-shadow(0, 0, 0, 0);
    @include border-radius(0);
    &:focus {
      border-color: $ipl-grey;
    }
  }
  .faqSendBtn {
    border: 0;
    padding: 5px 10px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    background: $ipl-contrast;
    float: right;
  }
}

/*****************************************************
  ALERTS
*****************************************************/

#alerts {
  margin-top: 4em;
  a {
      color: black;
      text-decoration: none; /* no underline */
  }
  .alertContent {
    margin-bottom: 30px;
    padding: 15px;
    @include transition(all , .3s, ease);
    h3 {
      margin: 10px 0;
      font-weight: bold;
      color: $ipl-red;
      @include transition(all , .3s, ease);
    }
    &:hover {
      background-color: $ipl-light-grey;
    }
    &:hover h3 {
      color: $ipl-contrast;
    }
  }
}

/*****************************************************
  NEWSLETTER
*****************************************************/

#newsletter {
  border-top: outset;
  min-height:100%;
  .newsletterContentNotLogged {
    .newsletter-input {
      width: 330px;
      outline: 0;
      margin: 0;
      padding: 10px 0 10px 10px;
      border: 1px solid $ipl-grey;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      font-size: 24px;
      line-height: 32px;
      @include transition(all , .2s, ease);
      &::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #999;
      }
      &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #999;
      }
      &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #999;
      }
      &:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #999;
      }
      &:hover, &:focus {
        padding-left: 22px;
        color: #333;
      }
      &:hover::-webkit-input-placeholder, &:focus::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #555;
      }
      &:hover:-moz-placeholder, &:focus:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #555;
      }
      &:hover::-moz-placeholder, &:focus::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #555;
      }
      &:hover:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #555;
      }
      &:focus {
        &:-ms-input-placeholder {
          /* Internet Explorer 10+ */
          color: #555;
        }
      }
    }
    .newsletter-send {
      border: 0;
      margin: 0 0 0 24px;
      padding: 0 26px;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 24px;
      line-height: 54px;
      text-transform: uppercase;
      color: white;
      background: $ipl-contrast;
    }
  }
  .newsletterContentNotLogged, 
  .newsletterContentLogged {
    span {
      font-size: 16px;
    }
    .newsletter-sendLogged {
      border: 0;
      margin: 10px;
      padding: 15px;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
      color: white;
      background: $ipl-contrast;
    }
  }
}

/*****************************************************
  EVENTS
*****************************************************/

#events {
  margin: 0 1em;
  margin-top: 4em;
  #eventTable {
    font-family: 'Montserrat', sans-serif;
    thead {
      background: $ipl-light-grey;
      text-transform: uppercase;
      th {
        font-weight: inherit;
      }
    }
    tbody {
      td {
        vertical-align: middle;
        font-size: large;
        line-height: 2.5;
      }
    }
  }
  .card-body {
    padding: 20px;
    h2 {
      margin: 15px 0;
      font-size: 3em;
      small {
        font-size: 16px; 
      }
    }
    .imgEvent {
      margin: 20px 0;
      img {
        width: 100%;
        @include border-radius(10px);
      }
    }
    .infoEvent {
      padding: 15px;
      p {
        margin: 5px 0;
        font-size: 18px;
      }
    }
  }
}

/*****************************************************
  USER SETTINGS
*****************************************************/

#userSettings {
  h3 {
    margin: 15px 0;
  }
  .form-control {
    padding: 12px;
    font-size: 16px;
    @include box-shadow(0, 0, 0, 0);
    @include border-radius(0);
    &:focus {
      border-color: $ipl-grey;
    }
  }
  .modal-header .close {
      margin-top: -22px;
  }

}

/*****************************************************
  CONTACT
*****************************************************/

#contact {
  background-color: $ipl-red;
  min-height: 100%;
  .footer-sec {
    p {
      color: white;
      font-size: 18px;
      padding: 15px 0;
    }
  }

  .footer-nav-list, .footer-social-list {
    display: inline-flex;
  }

  .footer-nav-list {
    li {
      padding: 0 15px;
      a {
        font-size: 15px;
        color: white;
        &:hover {
          border-bottom: 2px solid white;
        }
      }
    }
  }
  .footer-social-list {
    li {
      padding: 5px;
      a {
        font-size: 2.3em;
        color: white;
        @include transition(all , .5s, ease-in-out);
        &:hover {
          color: $ipl-contrast;
        }
      }
    }
  }
}

/*****************************************************
*****************************************************/
@media (min-width: 200px) and (max-width: 450px) {
  #home {
    h1 {
      font-size: 39px;
    }
    p {
      color: white;
      margin: 0 0 30px;
    }
  }
  .banner-content {
    top: 60%;
  }
  h1 {
    font-size: 32px;
  }
}

@media (min-width: 451px) and (max-width: 768px) {
  .container-nav {
    margin-top: 20px;
  }
}